.adminMain {
    display: flex;
}

/* ADMINMENU */
.adminMenu {
width: 14rem;
}
.adminMenuBA {
    width: 14rem;
    height: 3rem;
    background-color: blue;
}

/* ADMINESPACE */
.adminWorkSpace {
width: calc(100% - 15rem);
margin-left: 1rem;
}
.playerFate {
    display: flex;
    justify-content: space-between;
}
.playerFateMedal {
    width: 2rem;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}
.playerFateName {
    width: 12rem;
    background-color: brown;
}
.playerFateMail {
    width: 20rem;
    background-color: green;
}
.playerFatePromote {
    width: 6rem;
    background-color: brown;
}
.playerFateDelete {
    width: 6rem;
    background-color: green;
}