.chickNDuckContainer {
    width: 26rem;
    height: 36rem;
    background-color: aqua;
}
.cndBoard {
    width: 24rem;
    height: 24rem;
    background-color: yellow;
}
.cndBoardLine {
    width: 100%;
    height: 8rem;
    display: flex;
}
.cndSquare {
    width: 8rem;
    height: 8rem;
    border: solid black 2px;
    font-size: 4rem;
}