/* container */
.dataform {
    width: 20rem;
    height: 30rem;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    padding: 0.4rem 0.4rem;
}

/* TOP */
.dataformTop {
    height: 2rem;
    display: flex;
    justify-content: space-between;
}
.dataformTopLeft {
    width: 10rem;
}

/* formulaire */
.form {
    display: flex;
    flex-direction: column;
}

/* .chooseform {}
.formInputswrapper {} */