.gameChat {
    width: 24rem;
    background-color: aliceblue;
    border: solid black 4px;
    border-radius: 1rem;
    padding: 1rem 1rem;
    box-sizing: border-box;
}
.gameChatTopLeft {
    color: black;
}
.publicChatDisplayer {
    overflow: hidden;
    overflow-y: scroll;
    position : relative; bottom:0;
    /*  */
    width: 100%;
    height: 20rem;
    background-color: rgba(10, 10, 30, 1);
    padding: 0rem 0.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.publicChatDisplayer::-webkit-scrollbar {
    display: none;
}
.messageDisplay {
    position: relative;
    width: 90%;
    min-height:4rem ;
    color: aliceblue;
    background-color: rgb(114, 20, 157);
    border: solid rgb(62, 10, 86) 3px;
    border-radius: 1.9rem;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
}
.messageDisplayTop {
    display: flex;
    justify-content: space-between;
}
.messageDisplayPublisher {
    font-weight: bold;
    text-decoration: underline;
}
.messageDate {
    color: gray;
}
.messageDisplayMessage {
    margin-left: 2rem;
}
.messageToSendForm {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    margin-top: 0.4rem;
}
.messageInputs {
    width: 75%;
}
.messageSubmitContainer {
    width: 20%;
}
.messageSubmit {
    width: 100%;
    height: 4rem;
    background-color: rgb(48, 109, 70);
    box-shadow: 2px 2px 2px black;
    border-radius: 4px;
    font-weight: bold;
    font-size: 0.7rem;
    color: aliceblue;
}

  /* MEDIA */
@media (min-width: 1024px) {
    .gameChat {
        width: calc(100% - 4rem);
    }
  }