/* container */
.header {
    width: 100%;
    min-height: 6rem;
    background-color: rgba(240, 240, 255);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.headerSizer {
    width: 100%;
    max-width: 1024px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

/* LEFT */
.headerLeft {
    width: 12rem;  
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 8rem;
    color: rgba(10, 10, 30, 1);
    font-weight: bold;
    text-align: center;
    margin-left: 0.5rem;
}
.leaderBoardBA {
    width: 3rem; 
    height: 3rem;
    background-color: white;
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
    border: solid rgba(10, 10, 30, 1) 4px;
    border-radius: 1rem;
    box-shadow: 4px 4px 4px black;
}

/* RIGHT */
.headerRight { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* connexion */
.headerDataformBA {
    width: 3rem; 
    height: 3rem;
    background-color: white;
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
    border: solid rgba(10, 10, 30, 1) 4px;
    border-radius: 1rem;
    box-shadow: 4px 4px 4px black;
}
