
/* playercard */
.playerCardContainer {
    pointer-events:none;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    /*  */
    display: flex;
}
.playerCard {
    pointer-events:auto;
    overflow: hidden;
    /* z-index: 1; */
    position: relative;
    right: -4rem;
    /*  */
    width: 14rem;
    height: 5rem;
    background-color: aliceblue;
    border: solid black 4px;
    border-radius: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 4px black;
}
.playerCard:hover {
    height: inherit;
}
.playerAvatar {
    pointer-events:auto;
    position: relative;
    top: -0.5rem;
    overflow: hidden;
    /*  */
    height: 5rem;
    width: 5rem;
    background-color: aqua;
    border: solid black 4px;
    border-radius: 50%;
    box-shadow: 4px 4px 4px black;

}
.playerAvatar:hover {
    cursor: pointer;
}
.playerCardInfo {
    width: 100%;
    padding: 0.2rem 0.5rem;
    color: aliceblue;
    background-color:rgba(10, 10, 30, 1);
    border:solid rgba(195, 180, 20, 0.476) 4px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    /* box-sizing: border-box; */
}
.playerCardInfo:hover {
    cursor: pointer;
}
.playerName {
    height: 1.8rem;
    border-bottom: solid aliceblue 2px  ;
    display: flex;
    align-items: center;

    padding-left: 0.5rem;
}
.playerStats {
    height: 2.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.playerScore {
    width: 5rem;
    display: flex;
    justify-content: space-between;
}
.playerLevel {
    width: 5rem;
    display: flex;
    justify-content: space-between;
}

/* playerCard affichage étendu */
.enlargedPC {
    width: 100%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.enlargedPCButtons {
    width: 100%;
    height: 2rem;
    text-align: left;
    padding-left: 0.1rem;
} 
.enlargedPCButtons:hover {
    background-color: rgba(220, 220, 240);
}
.enlargedPCButtonsBorder {
    width: 100%;
    height: 2rem;
    border-top: solid gray 1px;
    text-align: left;
    padding-left: 0.1rem;
}
.enlargedPCButtonsBorder:hover {
    background-color: rgba(220, 220, 240);
}

/* deconnexion */
.playerCardDisconect {
    position: relative;
    left: -1rem;
    width: 108%;
    height: 2.5rem;
    background-color: rgb(247, 20, 20);
    border: solid black 4px;
    border-radius: 8px;
    font-weight: bold;
}

/* CHOOSE AVATAR */
.chooseAvatar {
    position: absolute;
    top: 4rem;
    right: 2rem;
    /*  */
    width: 24rem;
    background-color: aliceblue;
    border: solid black 4px;
    border-radius: 1rem;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.avatarMaker {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.avatarMakerTitle {
    margin-bottom: 1rem;
}
.selectAvatarImg {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    border: solid black 6px;
    margin-bottom: 1rem;
    box-shadow: 4px 4px 4px black;
}
.avatarMakerSubTitle {
    width: 100%;
    margin-bottom: 0.5rem;
    text-align: start;

}
.avatarSelectors {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;
}
.avatarSelector {
    width: 6rem;
    height: 1.5rem;
}
.avatarSeeds {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}
.avatarSeedInput {
    width: 6rem;
    height: 1.5rem;
    box-sizing: border-box;
}
.avatarSeedRandom {
    width: 6rem;
    height: 1.5rem;
    background-color: rgb(48, 122, 226);
    border: solid rgb(29, 76, 142) 2px ;
}
