/* reset du style */
@import "styles/reset.css";

/* import des styles de pages */
@import "styles/home.css";

/* import des styles de composants */
@import "styles/header.css";
@import "styles/dataform.css";

/* style général */

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: rgba(220, 220, 220, 1);
}

/* text */

h6 {
  font-size: 8px;
}
