/* reset du style */
@import "styles/reset.css";

/* import des styles de pages */
@import "styles/home.css";
@import "styles/game.css";
@import "styles/admin.css";

/* import des styles de composants */
@import "styles/header.css";
@import "styles/dataform.css";
@import "styles/playercard.css";
@import "styles/leaderboard.css";
@import "styles/gamechat.css";
@import "styles/privatechat.css";
@import "styles/chick-n-duck.css";
@import "styles/move-experiment.css";

/* style général */

.App {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: rgba(10, 10, 30, 1);
}

main {
  width: 100%;
  max-width: 1024px;
  height: calc(100vh - 6rem);
  padding: 1rem 2rem 1rem 1rem;
  box-sizing: border-box;
}

.overallContainer {
  position: absolute;
  z-index: 1;
  /*  */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(30, 30, 50, 0.8);
  background-color: none;
}

.closingBox {
  width: 2rem;
  height: 2rem;
  background-color: rgba(255, 100, 100, 0.8);
  border: solid black 2px;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 2px 2px 2px black;
}
.closingBox:hover {
  cursor: pointer;
}
.closingBox:active {
  border: solid rgba(112, 10, 10, 0.8) 2px;
}

/* text */
h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1rem;
}
h4 {
  font-size: 0.8rem;
}
h6 {
  font-size: 10px;
}
h1:hover {cursor: default;}
/* h2:hover {cursor: default;}
h3:hover {cursor: default;}
h6:hover {cursor: default;} */